name: Node.js SNYK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - run: npm install
      - run: npm i -g snyk
      - run: snyk auth '80cc4ff6-c97d-4836-9e60-9521f0390ab5'
      
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        with:
          run: snyk auth '80cc4ff6-c97d-4836-9e60-9521f0390ab5'

      - run: snyk monitor
