name: Node.js SNYK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - run: npm install
      - run: npm i -g snyk
      - run: snyk auth '80cc4ff6-c97d-4836-9e60-9521f0390ab5'
      - name: install snyk-to-html
        run: |
          npm install snyk-to-html -g
          snyk test --json | snyk-to-html -o result.html
          mkdir downloads
          cp -v /home/runner/work/java-goof/java-goof/*.html /home/runner/work/java-goof/java-goof/downloads

      - run: snyk test
      - run: snyk code
      - run: snyk monitor
      
